repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v1.1.1
    hooks:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
  - repo: git://github.com/dnephin/pre-commit-golang
    sha: v0.3.4
    hooks:
      - id: go-fmt
      - id: golangci-lint
        entry: golangci-lint run --verbose
        verbose: true
  - repo: git://github.com/igorshubovych/markdownlint-cli
    sha: v0.5.0
    hooks:
      - id: markdownlint
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    sha: 1.7.1
    hooks:
      - id: shellcheck
